In [1]:
import pandas as pd
import numpy as np

In [28]:
file_path = 'bk_20240813.csv'
df_bk = pd.read_csv(file_path)
df_bk
df_bk = df_bk.rename(columns={'제목' : 'title2'})
# df_bk = df_bk.drop('뉴스 식별자','일자','언론사','기고자',axis = 'columns')

list = ['뉴스 식별자','일자','언론사','기고자','통합 분류1'	,'통합 분류2','통합 분류3',
        '사건/사고 분류1', '사건/사고 분류2', '사건/사고 분류3', '인물', '위치','기관',	
        '키워드','특성추출(가중치순 상위 50개)', '본문', 'URL','분석제외 여부']
for word in list :
    df_bk = df_bk.drop(word, axis=1)

df_bk

                                                  title2
0           대치동에서 용난다고? 진짜 용은 ‘여기’에서 나온다 [공부 뇌 만들기 프로젝트]
1      일론 머스크도 부러워한 두바이 ‘정자왕’...“내 자식 전 세계 100명 넘어” [...
2                     광주 양학선기념관 발산커뮤니티센터  개관 9개월만 관리 부실?
3                                     '북아시아 초원길'로 떠나는 산책
4           [박영서의 글로벌아이] `파죽지세` 해리스 ’망연자실’ 트럼프, 흥미진진 美대선
...                                                  ...
18912                             김제시, 가족친화 직장환경 조성사업 추진
18913                              무주 반딧불사과 '홍로' 올해 첫 출하
18914                     새만금 세계스카우트잼버리 참가 세계 청소년들 고창 찾아
18915                 원광대병원, 중국 칭다오 시립병원과 외국인 환자 유치 협약체결
18916                     [아침을 여는 명언 캘리] 2024년 8월13일 화요일

[18917 rows x 1 columns]

In [34]:
output_path = 'bk_20240813_1.csv'
# df_bk(output_path, index=False, encoding='utf-8-sig')
df_bk1 = df_bk[:6066]
df_bk1.to_csv(output_path, index=False, encoding='utf-8-sig')

In [35]:
output_path = 'bk_20240813_2.csv'
df_bk2 = df_bk[6066:12132]
df_bk2.to_csv(output_path, index=False, encoding='utf-8-sig')

In [36]:
output_path = 'bk_20240813_3.csv'
df_bk3 = df_bk[12132:18198]
df_bk3.to_csv(output_path, index=False, encoding='utf-8-sig')

In [54]:
df_bk = df_bk[:18198]
df_bk

                                                  title2
0           대치동에서 용난다고? 진짜 용은 ‘여기’에서 나온다 [공부 뇌 만들기 프로젝트]
1      일론 머스크도 부러워한 두바이 ‘정자왕’...“내 자식 전 세계 100명 넘어” [...
2                     광주 양학선기념관 발산커뮤니티센터  개관 9개월만 관리 부실?
3                                     '북아시아 초원길'로 떠나는 산책
4           [박영서의 글로벌아이] `파죽지세` 해리스 ’망연자실’ 트럼프, 흥미진진 美대선
...                                                  ...
18193                      “제2중앙경찰학교 잡아라” 기초단체 47곳 유치 경쟁
18194                              폭염 지속에 지자체들 냉방비 추가 지원
18195                 대형마트 의무휴업 평일 전환 진통 여수는 ‘일요일 유지’ 찬성
18196            정부 공모사업 예고 없이 자주 변경 “혈세만 낭비” 지자체들 불만 심각
18197                      신세계백화점 강남점 ‘프라다 뷰티’ 팝업 스토어 운영

[18198 rows x 1 columns]

In [ ]:
df_military = pd.read_csv('news_titles_label1.csv')
df_military

In [64]:
df_concat1 = pd.concat([df_military, df_military,df_military]).reset_index(drop=True)
df_concat1.to_csv('news_titles_18198_label1.csv', index=False, encoding='utf-8-sig')
df_concat1

                                          title  label
0                         <기고> 육군의 미래… 양자정보통신기술      1
1                    국방과학 핵심기술 한눈에…다양한 밀리터리 체험도      1
2         원자재 가격 급등에 어려움 겪는 방산업체 목소리 청취·개선방안 모색      1
3      '1.8조' 노르웨이 전차 사업자 내년 선정…현대로템·레오파드 '2파전'      1
4                  '1300억 조세 포탈' LIG 구본상·구본엽 무죄      1
...                                         ...    ...
18193            韓美, 새 작계 군사행동 가이드라인 ‘전략지시’도 합의      1
18194   韓美, 北 SLBM 추가 발사 준비 포착… 38노스 “위성사진서 징후”      1
18195                       韓美국방, 북핵억지 구체안 논의한다      1
18196      韓美는 연합훈련 취소했는데… 김정은, 낙하산 침투훈련 현장 지도       1
18197            韓美훈련기간 '한국형 사드' 시험 발사…"서해상 비행"      1

[18198 rows x 2 columns]